{% extends 'avaloir/layout_avaloir.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des avaloirs ({{ entities | length }}) </h3>
    </div>

    {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
        <a href="{{ path('avaloir_new') }}" class="btn btn-primary" role="button">
            <i class="fas fa-plus"></i> Ajouter</a>
        <br/>
    {% endif %}

    {% include 'avaloir/search/avaloir.html.twig' %}

    {% if entities | length > 0 %}
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Village</th>
                <th>Quartier</th>
                <th>Rue et numéro</th>
                <th>Dernière date de nettoyage</th>
                {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.id }}
                    </td>
                    <td>{{ entity.rue.village }}</td>
                    <td>
                        {% if entity.rue.quartier %}
                            <a href="{{ path('quartier_show', { 'slugname': entity.rue.quartier.slugname }) }}">
                                {{ entity.rue.quartier }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a title="Consulter l'avaloir" href="{{ path('avaloir_show', { 'id': entity.id }) }}">
                            {{ entity.rue }} {{ entity.numero }}
                        </a>
                    </td>
                    <td>
                        {% if entity.dates | length > 0 %}
                            {% set jour = entity.dates | first %}
                            {{ jour }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                        <td>
                            <a href="{{ path('datenettoyage_new', { 'id': entity.id }) }}"
                               class="btn btn-primary btn-xs" role="button">
                                <i class="far fa-calendar-alt"></i>
                                Ajouter une date
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block scripts %}
    {% include 'form/calendar.html.twig' %}
{% endblock %}