{% extends 'travaux/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="page-header">
        <h3>Intervention <strong>{{ entity }}</strong> à traiter</h3>
    </div>

    <p class="text-muted">{{ entity.descriptif | nl2br }}</p>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.message) }}

    {% if form.date_execution is defined %}
        {{ form_row(form.date_execution) }}
    {% endif %}

    <div class="form-row">
        <div class="col">
            {{ form_row(form.accepter) }}
        </div>

        {% if form.plusinfo is defined %}
            <div class="col">
                {{ form_row(form.plusinfo) }} </div>
        {% endif %}

        {% if form.reporter is defined %}
            <div class="col">{{ form_row(form.reporter) }}</div>
        {% endif %}

        <div class="col">
            {{ form_row(form.refuser) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block scripts %}
    {% include 'form/calendar.html.twig' %}
{% endblock %}