{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des avaloirs ({{ avaloirs | length }}) </h3>
    </div>

    {% include '@AcMarcheAvaloir/search/avaloir.html.twig' %}

    {% if avaloirs | length > 0 %}
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Village</th>
                <th>Quartier</th>
                <th>Rue et numéro</th>
                <th>Dernière date de nettoyage</th>
                {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for avaloir in avaloirs %}
                <tr>
                    <td>
                        <a title="Consulter l'avaloir" href="{{ path('avaloir_show', { 'id': avaloir.id }) }}">
                          Num  {{ avaloir.id }}
                        </a>
                    </td>
                    <td>{{ avaloir.localite }}</td>
                    <td>
                        {% if avaloir.rueEntity and avaloir.rue.quartier %}
                            <a href="{{ path('quartier_show', { 'id': avaloir.rue.quartier.id }) }}">
                                {{ avaloir.rue.quartier }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ avaloir.rue }} {{ avaloir.numero }}
                    </td>
                    <td>
                        {% if avaloir.dates | length > 0 %}
                            {% set jour = avaloir.dates | first %}
                            {{ jour }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                        <td>
                            <a href="{{ path('datenettoyage_new', { 'id': avaloir.id }) }}"
                               class="btn btn-primary btn-xs" role="button">
                                <i class="far fa-calendar-alt"></i>
                                Ajouter une date
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}