{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des avaloirs ({{ avaloirs | length }}) </h3>
    </div>

    {% include '@AcMarcheAvaloir/search/avaloir.html.twig' %}

    {% if avaloirs | length > 0 %}
        <div class="row row-cols-1 row-cols-md-3">
            {% for avaloir in avaloirs %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <a title="Consulter l'avaloir" href="{{ path('avaloir_show', { 'id': avaloir.id }) }}">
                                {{ avaloir.rue }} {{ avaloir.numero }}
                            </a>
                        </div>
                        {% if avaloir.imageName %}
                            <img src="{{ vich_uploader_asset(avaloir, 'imageFile') | imagine_filter('avaloir_heighten_filter') }}"
                                 alt="{{ avaloir.imageName }}" class="card-img-top"/>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a title="Consulter l'avaloir" href="{{ path('avaloir_show', { 'id': avaloir.id }) }}">
                                    {{ avaloir.rue }} {{ avaloir.numero }} <br/> {{ avaloir.localite }}
                                </a>
                            </h5>
                            <strong>Situation :</strong> {{ avaloir.latitude }} {{ avaloir.longitude }}
                            <p class="card-text">

                            </p>
                            <p class="card-text">
                                <small class="text-muted">

                                </small>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                                <a href="{{ path('datenettoyage_new', { 'id': avaloir.id }) }}"
                                   class="btn btn-primary btn-xs float-right" role="button">
                                    <i class="far fa-calendar-alt"></i>
                                    Ajouter
                                </a>
                            {% endif %}
                            {% if avaloir.dates | length > 0 %}
                                {% set jour = avaloir.dates | first %}
                                Le {{ jour }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
