{% extends 'stock/layout.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <a class="btn btn-primary" href="{{ path('stock_produit_new') }}">
        <i class="fas fa-plus"></i> Nouveau produit</a>
    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Quantite</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('stock_produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a></td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.quantite }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
