{% set action = app.request.attributes.get("_route") %}

<li>
    <a href="{{ path('intervention') }}">
        <span class="glyphicon glyphicon-search"></span> Rechercher
    </a>
</li>

{% if is_granted('ROLE_TRAVAUX_ADD') %}
    <li>
        <a href="{{ path('intervention_new') }}">
            <span class="glyphicon glyphicon-plus"></span> Ajouter une intervention
        </a>
    </li>
{% endif %}

<li>
    <a href="{{ path('intervention_archive') }}">Archives</a>
</li>

{% if routeExists('avaloir') %}
    {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
        <li>
            <a href="{{ path('avaloir') }}" {% if action == 'avaloir' %} class='active' {% endif %}>Avaloirs</a>
        </li>
    {% endif %}
{% endif %}
                    
{% if is_granted('ROLE_TRAVAUX_ADMIN') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paramètres... <b
                    class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('batiment') }}">Les bâtiments</a></li>
            <li><a href="{{ path('service') }}">Les services</a></li>
            <li><a href="{{ path('domaine') }}">Les types</a></li>
            <li><a href="{{ path('categorie') }}">Les catégories</a></li>
            <li><a href="{{ path('documentation') }}">Documentation</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('actravaux_utilisateur') }}">Gestion des utilisateurs</a></li>
            {% endif %}
        </ul>
    </li>
{% endif %}