<div class="hidden-print btn-toolbar" role="toolbar" style="margin: 0;">
    <div class="btn-group">
        <a href="{{ path('intervention_anchor', {'anchor' : intervention.id }) }}#{{ intervention.id }}" class="btn btn-primary"
           role="button"><i class="glyphicon glyphicon-list"></i> Retour à la liste</a>
    </div>
    {% if is_granted('ROLE_TRAVAUX_ADD') %}
        <div class="btn-group">
            <a href="{{ path('intervention_edit', { 'id': intervention.id }) }}" class="btn btn-primary"
               role="button"><i class="glyphicon glyphicon-edit"></i> Editer</a>
        </div>
        <div class="btn-group">
            <a href="{{ path('document_new', { 'id': intervention.id }) }}" class="btn btn-primary" role="button"><i
                        class="glyphicon glyphicon-plus"></i> Joindre un fichier</a>
        </div>
    {% endif %}
    <div class="btn-group">
        <a href="{{ path('suivi_new', { 'id': intervention.id }) }}" class="btn btn-primary" role="button"><i
                    class="glyphicon glyphicon-plus"></i> Ajouter un suivi</a>
    </div>
    <div class="btn-group">
        <a href="javascript:window.print();" class="btn btn-primary" role="button"><i
                    class="glyphicon glyphicon-print"></i> Imprimer</a>
    </div>
    {% if is_granted('ROLE_TRAVAUX_ADMIN') or is_granted('ROLE_TRAVAUX_REDACTEUR') %}
        <div class="btn-group">
            {% if intervention.archive %}
                <a href="#" class="btn btn-warning" role="button" data-toggle="modal"
                   data-target="#archiveModal">
                    <i class="glyphicon glyphicon-level-up"></i> Désarchiver
                </a>
            {% else %}
                <a href="#" class="btn btn-warning" role="button" data-toggle="modal"
                   data-target="#archiveModal">
                    <i class="glyphicon glyphicon-compressed"></i> Archiver
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
<br/>