{% extends 'layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Intervention <strong>{{ entity }}</strong> à traiter</h3>
    </div>

    <p class="text-muted">{{ entity.descriptif | nl2br }}</p>

    {{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.message) }}

    <p></p>
    <br/>

    {{ form_row(form.accepter) }}

    {% if form.plusinfo is defined %}
        {{ form_row(form.plusinfo) }}
    {% endif %}

    {{ form_row(form.refuser) }}

    {{ form_end(form) }}

{% endblock %}
